.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background: rgb(189, 183, 201);
    cursor: pointer;
}

.btn:hover {
    background: rgb(146, 142, 156); 
}

.btn-eq {
    background: rgb(93, 93, 221);
}

.btn-eq:hover {
    background: rgb(67, 67, 170);
}